<!DOCTYPE html>
<html id="about">

<head>
    <div id="banner">
        <span id="time">T I M E</span>
        <img src="Owl1.png" alt="" />
        <span id="baby">B A B Y</span>
    </div>
</head>

<body>
    <title>Login</title>
    <link rel="shortcut icon" href="Owl.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" />
    
    <p id="aboutPg"><b>Intro:</b>
        <br> The Time-4-Baby app is an application designed to help parents of
        <br> newborns to log their baby's relevant data: Feeding (if bottle fed),
        <br> Diaper changes, Nursing, and Pumping.</p>
    <img id="images" src="1.png" alt="" />
    <a id="goR" href="/register" class="btn btn-link">Register</a>
    </button>
    <p id="aboutPg"> <b>Feeding Screen:</b>(below)
        <br> Input the value into bottle and submit ounces or milliliters
    </p>
    <img id="images" src="2.png" alt="" />
    <a id="goR" href="/register" class="btn btn-link">Register</a>
    </button>
    <p id="aboutPg"><b>Diaper Changing Screen:</b>(below)
        <br> Quickly log diaper changes, select either wet diaper, dirty diaper,
        <br>or both wet and dirty diaper
    </p>
    <img id="images" src="3.png" alt="" />
    <a id="goR" href="/register" class="btn btn-link">Register</a>
    </button>
    <p id="aboutPg"><b>Nursing Screen:</b>(below)
        <br> Once the "Nurse" button is pressed from the main page there is an
        <br> internal timer that tracks the length of time the mother has nursed.
        <br>After nursing is complete the time spent nursing is then logged.
    </p>
    <img id="images" src="4.png" alt="" />
    <a id="goR" href="/register" class="btn btn-link">Register</a>
    </button>
    <p id="aboutPg"><b>Pumping Screen:</b>(below)
        <br> Input the value into bottle and submit ounces or milliliters and also
        <br>specify side.
    </p>
    <img id="images" src="5.png" alt="" />
    <a id="goR" href="/register" class="btn btn-link">Register</a>
    <p id="aboutPg"> <b>Log Page:</b>(below)
        <br>A log page with a convenient "Print this Page" button for printing
        <br> the log to take to the baby's first doctor's visit.
    </p>
    <img id="images" src="6.png" alt="" />
    <a id="goR" href="/register" class="btn btn-link">Register</a>

</body>

<div class="footer">
    <span>T I M E</span>
    <img id="footerOwl" src="Owl1.png" alt="" />
    <span>B A B Y</span>
    <br>
    <a id="about" href="/login" class="btn btn-link">Back to Login</a>

</div>

</html>